
{% extends "base.html" %}

{% block title %} About us {% endblock %}
{% block content %}

<section>
  <div class="Jumbotron">
    <h2 class="m-2 center_align"> Nothing much</h2>
    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
         voluptate velit esse cillum dolore eu fugiat nulla pariatur.
         Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
         deserunt mollit anim id est laborum.</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident,
       sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="mt-5 center_align">
    <h3>Contanct us</h3>
    <p>Email: aashishkumar143521@gmail.com</p>
    <p>Mobile Number: +917973949918</p>

  </div>


</section>

<footer>
    <p>{% include "footer.html" %}</p>
</footer>
{% endblock %}
